* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.conteiner {
  width: 1296px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  margin-bottom: 20px;
  background-color: rgb(220, 220, 7);
  color: black;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px 20px;
}

.button:hover {
  background-color: rgb(251, 251, 47);
}

.btn {
  cursor: pointer;
  border-radius: 8px;
  padding: 16px 20px;
  height: 48px;
}

#root {
  position: relative;
}
